body{
    background-color: #bcbcbc;
    font-family: 'Source Code Pro', monospace;
    color: #616161;
    font-size: 1em;
}
.container{
    background-color: #ffffff;
    margin: 3em 10%;
    display: flex;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.side{
    width: 25%;
    margin-right: 2em;
}
.content{
    width: 75%;
}
.profile{
    background-color: #fbf8f8;
    box-shadow: 0 4px 8px 1px rgba(0,0, 0, 0.2);
}
.profile img{
    height: 100%;
    width: 100%;
}
.profile-name{
    color: #14cba8;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
}
.profile-content{
    padding:  1em;
    text-align: justify;
}
.profile-content p{
    margin: 0;
}
.profile-content img{
    width: 1.2em;
    height: 1.2em;
}
.profile-content ul{
    list-style-type: none;
    margin: 1em 0em 0em;
    padding: 0;
}
.profile-content li a{
    line-height: 1em;
    text-decoration: none;
    color: #616161;
    padding-left: 0.5em;
}
.profile-content li a{
    line-height: 1em;
    text-decoration: none;
    color: #616161;
}
.profile-content li a:hover{
    text-decoration: underline;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #14cba8;
    overflow: hidden;
    background-color: #64ffda;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
nav li{
    float: left;
}
nav li a{
    display: block;
    color: #616161;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-weight: bold;
}

nav li a:hover{
    background-color: #14cba8;
}

section{
    background-color: #fbf8f8;
    box-shadow: 0 4px 8px 1px rgba(0,0,0,0.2);
    padding: 1em;
    margin: 1em 0;
    box-sizing: border-box;
}

section h4{
    color: #14cba8;
    margin: 0;
    margin-bottom: 1em;
}

table{
    border-collapse: collapse;
    text-align: left;
    line-height: 2em;
    width: 100%;
}

thead{
    background-color: #14cba8;
    line-height: 2em;
    color: #fbf8f8;
}

tbody tr{
    background-color: #eeeeee;
}

tbody tr:nth-child(even){
    background-color: #ddd;
}

form input{
    border: 1px solid #14cba8;
    line-height: 2em;
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    width: 100%;
    margin: 0.5em 0em 1em 0em;
}

form textarea{
    border: 1px solid #14cba8;
    line-height: 2em;
    width: 100%;
    margin: 0.5em 0em 1em 0em ;
    box-sizing: border-box;
}

form button{
    border: 1px solid #64ffda;
    background-color: #64ffda;
    font-family: 'Source Code Pro', monospace;
    color: #616161;
    line-height: 2em;
    width: 100%;

}

form button:hover{
    border: 1px solid #14cba8;
    background-color: #14cba8;
    color: #fbf8f8;
}

.two-column ul{
    -moz-column-count: 2;
    -moz-column-gap: 2em;
    -webkit-column-count: 2;
    -webkit-column-gap: 2em;
    column-count: 2;
    column-gap: 2rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.two-column ul li{
    padding: 0.5em 0em;
}

.one-column dl{
    margin: 0;
}

.one-column dl dt{
    font-weight: bold;
}

.one-column dl dd{
    padding-bottom: 0.5em;
}

.one-column ol{
    margin: 0;
    padding-left: 1.82m;
}
footer{
    text-align: center;
}

